.today {
    background-color: cornsilk;
}

td {
    width: 14.2857143%;
    height: 150px;
}

.border-bottom {
    border-bottom: thin solid #ccc;
}

.calendar-event {
    background-color: #0275d8;
    color: white;
    border-radius: 4px;
}

.blankCellFormat {
    background-color: lightgray;
}

.cellFormat {
    background-color: #f5f4f1;
}

.lightBorder {
    border: thin solid darkblue;
}