<div class="row" *ngFor="let week of month.weeks" >
  <div class="col-md-1" 
      *ngFor="let day of week.days" 
      [ngClass]="{ 
        'col-md-offset-1':day.getShowOffset(1),
        'col-md-offset-2':day.getShowOffset(2),
        'col-md-offset-3':day.getShowOffset(3),
        'col-md-offset-4':day.getShowOffset(4),
        'col-md-offset-5':day.getShowOffset(5),
        'col-md-offset-6':day.getShowOffset(6)
      }"
      >
       <div class="media-body" [class.today]="day.dayIsToday()">
          <h4 class="media-heading">
              {{ day.calendarDay.date() }}
          </h4> 
          <!--stuff can go here-->
      </div>

  </div>
</div>