<table class="table">
  <thead>
    <tr>
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let week of month.weeks">
      <td *ngIf="week.getAddBlankCells()" [attr.colspan]="week.getBlankCellCount()" class="blankCellFormat lightBorder" >&nbsp;</td>
      <td *ngFor="let day of week.days" [class.today]="day.dayIsToday()" class="cellFormat lightBorder">
          <p class="text-md-right font-weight-bold">{{ day.calendarDay | date:'d' }}</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item calendar-event" *ngFor="let evt of day.events">{{evt.title}}</li>
          </ul>
      </td>
    </tr>
  </tbody>
</table>
